/* --- ESTILO PLAIN (Texto en cursiva) --- */
/* Aplica a Teoremas, Lemas, Proposiciones, Corolarios, Algoritmos, etc. */
.theorem, .lemma, .proposition, .corollary, .theorem-alg, .theorem-axm, .theorem-cas, .theorem-con, .theorem-cond, .theorem-crit {
  font-style: italic;
}

/* Forzar que los títulos NO estén en cursiva */
.theorem-title {
  font-style: normal;
  font-weight: bold;
}

/* --- ESTILO DEFINITION y REMARK (Texto normal/recto) --- */
/* Quarto por defecto los deja rectos, pero aseguramos que no hereden la cursiva */
.definition, .theorem-exm, .theorem-exr, .theorem-agr, .theorem-rem, .theorem-not, .theorem-prob, .theorem-sol {
  font-style: normal !important;
}


/* 1. Si la demostración termina en un párrafo normal */
.proof > p:last-child::after,
/* 2. Si la demostración termina en una lista, lo añade solo al último ítem */
.proof > ul:last-child > li:last-child::after,
.proof > ol:last-child > li:last-child::after {
  content: "\25A1"; /* Cuadrado blanco (□) */
  float: right;
  margin-top: 0.2em;
  font-style: normal;
}

/* Limpieza de flotado para que no rompa el diseño del documento */
.proof::after {
  content: "";
  display: table;
  clear: both;
}


/* Selecciona la lista personalizada */
.lista-n {
  list-style: none;     /* Quita CUALQUIER número o punto que ponga Quarto */
  counter-reset: my-counter; /* Inicializa el contador */
  padding-left: 0em;
}

.lista-n li {
  counter-increment: my-counter; /* Suma 1 en cada elemento */
  position: relative;
  padding-left: 2.5em;           /* Deja espacio para el (N1) */
  margin-bottom: 0em;          /* Separa un poco los ítems */
}

/* Fuerza el borrado de los marcadores nativos de lista en navegadores modernos */
.lista-n li::marker {
  content: "";
}

/* Inyecta el texto personalizado antes del contenido */
.lista-n li::before {
  content: "(N" counter(my-counter) ")"; /* Genera (N1), (N2)... */
  /* font-weight: bold;                     Lo pone en negrita */
  position: absolute;
  left: 0;                               /* Lo pega al margen izquierdo del ítem */
  color: #212529;                        /* Color del texto normal */
}